body{
    background-color: grey;
}

.container {
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    background-color: #7ba0c7;
    text-align: center;
    border-radius: 25px;
    margin: 30px 10px 30px 10px;
}

.container h1 {
    font-size: 50px;
}

.container h2 {
    font-size: 30px;
    color: indigo;
}

.choice {
    border: 2px groove black;
    border-radius: 25px;
    background-color:#edbe8c;
    min-height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 0 10px #000000;
}

.buttons {
    width: 150px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 25%;
    margin: 20px;
    background-color: #d4a97b;
}

.buttons:hover {
    background-color: #a8c3e0;
    width: 160px;
    transition: width .5s;
}

#show_selections {
    display: none;
}

#reset {
    min-width: 220px;
    font-size: 15px;
    font-weight: bold;
    color: indigo;
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
    background-color: #ffb624;
}

#reset:hover {
    font-size: 25px;
    background-color: #e6cc65;
    transition: font-size .5s;
}